.main{
    
    margin: 0%;
    padding: 0%;    
}

img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-top: 5px;
    object-fit: cover;
    object-position: left;
}

.hebergement{
    display: grid;
    grid-template-rows: 30% 30% 10%;  
    background-color: #F2F2F2;
    border-radius: 20px;
}

.headerhebergement__title{
    padding-left: 50px;
}
.cardshebergement{    
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    border-radius: 5%;
    justify-content: center;
    
    
}
.cardsheb{
    background-color: white;
    border-radius: 10px;
}


.cardhebergement__content{
    padding: 20px;
}

i{
   color: #0065FC;
}

.five{
    color:#DEEBFF;
}

.four{
    color:#DEEBFF;
}

.hebergementfooter{
    font-size: 25px;
    padding-left: 50px;
}

@media screen and (max-width: 1280px)
{   
    .headerhebergement__title{
    text-align: center;
    padding-left: 0%;
    }

    .cardshebergement{    
        display:grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;       
    }

    .hebergementfooter{
        text-align: center;
        padding-left: 0%;
    }
}

@media screen and (max-width: 950px){
    .headerhebergement__title{
        text-align: center;
        padding-left: 0%;
    }
    .cardshebergement{    
        display:grid;
        grid-template-columns: auto;
           
    }

    .hebergementfooter{
        text-align: center;
        padding-left: 0%;
    }
}

